.swiper-container
  = link_to '<', '#', class: 'back'
  = link_to '>', '#', class: 'next'
  .swiper-wrapper
    #page_1_1.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_1_1.m4a' }
        %source{ src: 'audios/page_1_1.ogg' }
    #page_1_2.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_1_2.m4a' }
        %source{ src: 'audios/page_1_2.ogg' }
    #page_1_3.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_1_3.m4a' }
        %source{ src: 'audios/page_1_3.ogg' }
    #page_2_1.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_2_1.m4a' }
        %source{ src: 'audios/page_2_1.ogg' }
    #page_2_2.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_2_2.m4a' }
        %source{ src: 'audios/page_2_2.ogg' }
    #page_2_3.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_2_3.m4a' }
        %source{ src: 'audios/page_2_3.ogg' }
    #page_3_1.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_3_1.m4a' }
        %source{ src: 'audios/page_3_1.ogg' }
    #page_3_2.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_3_2.m4a' }
        %source{ src: 'audios/page_3_2.ogg' }
    #page_3_3.swiper-slide
      %audio{ preload: 'auto' }
        %source{ src: 'audios/page_3_3.m4a' }
        %source{ src: 'audios/page_3_3.ogg' }

:javascript
  $(function(){
    var startAudio = function(swiper) {
      $(swiper.activeSlide()).find('audio').each(function(i, audio) {
        audio.play();
      });
    };
    var stopAudio = function() {
      $('audio').each(function(i, audio) {
        audio.pause();
        audio.currentTime = 0;
      });
    };
    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      loop: true,
      keyboardControl: true,
      onSwiperCreated: startAudio,
      onSlideChangeStart: stopAudio,
      onSlideChangeEnd: startAudio
    });
    $('a.next').click(function(event) {
      mySwiper.swipeNext();
    });
    $('a.back').click(function(event) {
      mySwiper.swipePrev();
    });
  });
