.swiper-container
  = link_to '<', '#', class: 'back'
  = link_to '>', '#', class: 'next'
  %audio#oj_boli_audio{ preload: 'auto' }
    %source{ src: 'audios/oj_boli.m4a' }
    %source{ src: 'audios/oj_boli.ogg' }
  .swiper-wrapper
    #page_1_1.swiper-slide{ data: { audioStart: '0', audioEnd: '9' } }
    #page_1_2.swiper-slide{ data: { audioStart: '10', audioEnd: '20' } }
    #page_1_3.swiper-slide{ data: { audioStart: '21', audioEnd: '29' } }
    #page_2_1.swiper-slide{ data: { audioStart: '30', audioEnd: '41' } }
    #page_2_2.swiper-slide{ data: { audioStart: '43', audioEnd: '52' } }
    #page_2_3.swiper-slide{ data: { audioStart: '53', audioEnd: '61' } }
    #page_3_1.swiper-slide{ data: { audioStart: '63', audioEnd: '71' } }
    #page_3_2.swiper-slide{ data: { audioStart: '72', audioEnd: '82' } }
    #page_3_3.swiper-slide{ data: { audioStart: '83', audioEnd: '93' } }

.console
  = link_to 'start sound', '#', onclick: 'initializeAudio(); audio.start(currentSlideAudioSpan());', class: 'play'

:javascript
  var audio;
  var initializeAudio = function() {
    audio = new KaczkamiAudio('oj_boli_audio');
  }
  var currentSlideAudioSpan = function() {
    return { from: mySwiper.activeSlide().data('audioStart'), to: mySwiper.activeSlide().data('audioEnd') }
  }
  var mySwiper = $('.swiper-container').swiper({
    mode:'horizontal',
    loop: true,
    keyboardControl: true,
    onSlideChangeStart: function() {
      audio.stop();
    },
    onSlideChangeEnd: function() {
      audio.start(currentSlideAudioSpan());
    }
  });
  $('a.next').click(function(event) {
    mySwiper.swipeNext();
  });
  $('a.back').click(function(event) {
    mySwiper.swipePrev();
  });
